<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Accidental Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="segmentData">
    <ion-segment-button value="data">
      <ion-label>Data</ion-label>
    </ion-segment-button>
    <ion-segment-button value="chart">
      <ion-label>Chart</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- Print data in listing -->
  <div class="listing" [hidden]="segmentData != 'data'">
      <div class="select-wrap">
          <div class="selection">
              <ion-label>Select Data Type</ion-label>
              <ion-select [(ngModel)]="dataSel" (ionChange)="onDataChange()" name="data">
                  <ion-select-option value="agg_state_occ">Agg. by the State of Occurrence</ion-select-option>
                  <ion-select-option value="agg_state_operator">Agg. by the State of Operator</ion-select-option>
                  <ion-select-option value="flat_state_occ">Flat by the State of Occurrence</ion-select-option>
              </ion-select>
          </div>


          <div class="selection">
              <ion-label>Select Year</ion-label>
              <ion-select [(ngModel)]="yearSel" (ionChange)="onYearChange()" name="year">
                  <ion-select-option value="">All</ion-select-option>
                  <ion-select-option *ngFor="let year of yearList" [value]="year">{{year}}</ion-select-option>
              </ion-select>
          </div>
      </div>
      <ion-card *ngFor="let item of dataList">
          <ion-label>
              <ion-icon name="calendar-outline"></ion-icon> Year : {{item?.Year}}
              <ion-icon name="airplane-sharp" class="plane"></ion-icon>
          </ion-label>
          <div class="data-wrap">
              <p>Accidents
                  <ion-badge color="danger">{{item?.Accidents}}</ion-badge>
              </p>
              <p>Fatalities
                  <ion-badge color="dark">{{item?.Fatalities}}</ion-badge>
              </p>
          </div>
          <div class="data-wrap">
            <p>Fatal Accidents
                <ion-badge color="danger">{{item?.FatalAccidents}}</ion-badge>
            </p>
            <p>Departures
                <ion-badge color="dark">{{item?.Departures}}</ion-badge>
            </p>
          </div>        
      </ion-card>

  </div>
  <!-- Charts -->
  <div [hidden]="segmentData != 'chart'" class="chart-segment">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</ion-content>