<ion-header>
  <ion-toolbar>
      <ion-title>Geographical Stats</ion-title>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="listing">
      <div class="select-wrap">
          <div class="selection">
              <!-- Filter for different data -->
              <ion-label>Select Data Type</ion-label>
              <ion-select [(ngModel)]="dataSel" (ionChange)="onDataChange()" name="data">
                  <ion-select-option value="flight_information_geog">FIR - Geographical</ion-select-option>
                  <ion-select-option value="flight_find_by_location">FIR and Elevation - Find by Location</ion-select-option>
              </ion-select>
          </div>
      </div>
      <div *ngIf="dataSel == 'flight_information_geog'">
          <ion-card class="flight-list" *ngFor="let item of dataList">
              <div class="list-info">
                  <ion-label>State Name : {{item?.properties?.StateName}}</ion-label>
                  <p>
                      <ion-icon name="airplane-sharp" class="plane"></ion-icon> <span>FIRname {{item?.properties?.StateName}}</span></p>
                  <p>
                      <ion-icon name="globe-outline"></ion-icon>Lat Long {{item?.properties?.centlat}} , {{ item?.properties?.centlong}}</p>
              </div>
              <ion-button (click)="openLatLong(item?.properties?.centlat, item?.properties?.centlong)">Open
                  <ion-icon name="map-outline"></ion-icon>
              </ion-button>
          </ion-card>
      </div>
      <div *ngIf="dataSel == 'flight_find_by_location'">
          <ion-card class="flight-list" *ngFor="let item of dataList">
              <div class="list-info">
                  <p>
                      <ion-icon name="airplane-sharp" class="plane"></ion-icon> FIRname {{item?.FIRname}}</p>
                  <p>
                      <ion-icon name="globe-outline"></ion-icon> Lat Long {{item?.latitude}},{{ item?.longitude}}</p>
              </div>

              <ion-button (click)="openLatLong(item?.latitude, item?.longitude)">Open
                  <ion-icon name="map-outline"></ion-icon>
              </ion-button>
          </ion-card>
      </div>
  </div>
</ion-content>